<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "nl.axi.ApexPhoneGap"
version = "1.0.0">
<name>Demo Beheyt</name>
<description>
This application shows a simple use case for using Apex with PhoneGap.
</description>
<author href="http://www.axi.nl" email="evrm@axi.nl">Erik-jan Vermaire </author>
<!--feature name="http://api.phonegap.com/1.0/device" /> -->

<feature name="http://api.phonegap.com/1.0/battery"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>

<access origin="*.google.com" />
<access origin="*.googleapis.com" />
<access origin="*.gstatic.com" />

<access origin="*.wlu1114be.*" />

<preference name="OpenAllWhitelistURLsInWebView" value="no" />
<preference name="orientation" value="default" />

<preference name="phonegap-version" value="2.3.0" />

<preference name="target-device" value="universal" />
<preference name="stay-in-webview" value="false" />

<preference name="fullscreen" value="false" />

<icon src="img/axi72.png" width="72" height="72" />
<icon src="img/axi48.png" width="48" height="48" />
<icon src="img/axi36.png" width="36" height="36" />

<gap:splash src="img/splashscreen_landscape.png" width="1024" height="768"/>
<gap:splash src="img/splashscreen_portrait.png" width="768" height="1024"/>  

<plugin name="Capture" value="CDVCapture" />
<plugin name="Camera" value="CDVCamera" />
<plugin name="Geolocation" value="CDVLocation" />

</widget>
